---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: sumologic-fluentd
  namespace: sumologic
  annotations:
    flux.weave.works/automated: "true" 
spec:
  releaseName: sumologic-fluentd
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: sumologic-fluentd
    version: 1.1.0
  values:
    sumologic:
      collectorUrlExistingSecret:  sumologic
      sourceCategoryPrefix: {{ .ClusterName }}
      readFromHead: false
    rbac:
      create: true
