---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: cluster-autoscaler
  namespace: kube-system
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: cluster-autoscaler
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: cluster-autoscaler
    version: 3.2.0
  values:
    sslCertPath: /etc/kubernetes/pki/ca.crt
    autoDiscovery:
      clusterName: {{ .ClusterName }}
    awsRegion: {{ .Region }}
    rbac:
      create: true
      serviceAccountName: cluster-autoscaler
    nameOverride: cluster-autoscaler
    cloudProvider: aws
