---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: external-dns
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: external-dns
    version: 1.7.9
  values:
    domainfilter: "tidepool.org"
    image:
      name: registry.opensource.zalan.do/teapot/external-dns
      pullSecrets: {}
    tag: latest
    ownerid: external-dns 
    rbac:
      create: true
      serviceAccountName: external-dns
    logLevel: info
    provider: aws
    awszonetype: public 
    aws:
      region: {{ .Region }}
    txtOwnerId: {{ .ClusterName }}
