---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: external-dns
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: external-dns
    version: 2.6.1
  values:
    rbac:
      create: true
      serviceAccountName: external-dns
    logLevel: info
    provider: aws
    aws:
      zoneType: public 
      region: {{ .Region }}
    txtOwnerId: {{ .ClusterName }}
    logLevel: debug
    metrics:
      enabled: true

