---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: reloader
  namespace: reloader
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: reloader
  chart:
    git: git@github.com:stakater/Reloader
    path: deployments/kubernetes/chart/reloader
    ref: master
  values: 
    reloader:
      serviceAccount:
        create: false
        name: reloader
