---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: certmanager
  namespace: certmanager
  annotations:
    flux.weave.works/automated: "false"
spec:
  releaseName: certmanager
  chart:
    repository: https://charts.jetstack.io
    name: certmanager
    version: v0.8.1
  values:
    serviceAccount:
      name: certmanager
      create: false
